@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.tektur-font {
  font-family: 'Tektur', sans-serif;
}
